.mainWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: space-between;
  height: calc(100% - 75px);
  padding: 0 20px;
  margin-top: 5px;
  border-bottom: solid 1px #e8e8e8;
  box-shadow: 0 0 30px #f3f1f1;
  overflow: auto;
}